* {
	font-family: Helvetica, Arial, sans-serif;
}

.block {
	text-align: center;
	width: 100%;
	padding: 0.5em;
}

.block + .block {
	margin-top: 0.5em;
}

.fileDrop {
	height: 110px;
}

.form {
	text-align: center;
	width: 100%;
	background: lightskyblue;
}

.video {
	background: aqua;
}

.audio {
	background: lightgreen;
}

.output {
	background: lightcyan;
}

.output.red {
	background: lightcoral;
}
